h1 {
  text-align: center;
  color: cornflowerblue;
}

nav {
  background-color: cornflowerblue;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: white;
  font-size: 1.5em;
}

nav a:hover {
  color: pink;
  text-decoration: none;
}

body {
  background-color: lightblue;
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
}

.container {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr;
  column-gap: 5px;
}

.container h2 {
  color: lightblue;
}

.container p {
  font-weight: 600;
  font-family: Garamond, Serif;
}

.showImage {
  width: 300px;
  height: 400px;
  margin: 20px 0 0 0;
}

.comments {
  margin: 0 20px 0 20px;
  padding: 30px 0 30px 0;
  border-top-style: solid;
  border-top-color: lightgrey;
  border-top-width: 2px;
}

.comments h2 {
  color: lightblue;
}

.comments p {
  font-weight: 600;
  font-family: Garamond, Serif;
}